[Unit]
Description=Flanneld overlay address etcd agent
After=network.target
Before=docker.service

[Service]
Type=notify
EnvironmentFile={{flannel_config_dir}}/flannel
ExecStartPre={{ flannel_releases_dir }}/remove-docker0.sh
ExecStart={{ flannel_releases_dir }}/flanneld --ip-masq ${FLANNEL_ETCD} ${FLANNEL_ETCD_KEY} $FLANNEL_OPTIONS
ExecStartPost={{flannel_releases_dir}}/mk-docker-opts.sh -d /run/flannel/docker

[Install]
WantedBy=multi-user.target
RequiredBy=docker.service
