apiVersion: v1
kind: Secret
metadata:
  name: ceph-secret-user
type: "kubernetes.io/rbd"
data:
#Please note this value is base64 encoded.
  key: QVFDWi8rbFk5Zk80SlJBQWJpY09pT2txZ3Exd21aZUc4ZEJRb0E9PQ==