KUBE_LOGTOSTDERR="--logtostderr=false"
LOG_DIR="--log-dir={{kube_logs_directory}}"
KUBE_LOG_LEVEL="--v=4"

KUBE_MASTER="--master=http://{{ groups['masters'][0] }}:{{ kube_master_insecure_port }}"

# --root-ca-file="": If set, this root certificate authority will be included in
# service account's token secret. This must be a valid PEM-encoded CA bundle.
KUBE_CONTROLLER_MANAGER_ROOT_CA_FILE="--root-ca-file={{kube_cert_dir}}/ca.crt"

# --service-account-private-key-file="": Filename containing a PEM-encoded private
# RSA key used to sign service account tokens.
KUBE_CONTROLLER_MANAGER_SERVICE_ACCOUNT_PRIVATE_KEY_FILE="--service-account-private-key-file={{kube_cert_dir}}/server.key"

# --leader-elect
KUBE_LEADER_ELECT="--leader-elect"

#--kubeconfig={{ kube_config_dir }}/controller-manager.kubeconfig