[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/kubernetes/kubernetes

[Service]
EnvironmentFile=-{{kube_config_dir}}/controller-manager
ExecStart={{kube_script_dir}}/kube-controller-manager   ${KUBE_LOGTOSTDERR} \
                                ${LOG_DIR}          \
                                ${KUBE_LOG_LEVEL}   \
                                ${KUBE_MASTER}      \
                                ${KUBE_CONTROLLER_MANAGER_ROOT_CA_FILE} \
                                ${KUBE_CONTROLLER_MANAGER_SERVICE_ACCOUNT_PRIVATE_KEY_FILE}\
                                ${KUBE_LEADER_ELECT} \
                                ${KUBECONFIG}
Restart=on-failure

[Install]
WantedBy=multi-user.target